/* Common Styles Start */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    color: #303030;
    background-color: #ffffff;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
/* Common Styles End */

/* Header Styles Start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 80px;
}
.header-wrapper, .footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.header-logo-link, .footer-logo-link{
    /* margin-top: ; */
    display: flex;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}
.header-wrapper-menu{
    max-width: 1678px;
    margin: 30px auto;
    padding: 0 20px;
}
.header-list, .footer-list{
    display: flex;
    flex-wrap: wrap;
}
.header-item, .footer-item{ 
    width: 122px;
    text-align: center;
    margin-right: 20px;
}
.header-item:last-child, .footer-item:last-child{ 
    margin-right: 0px;
}
.header-link, .footer-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    /* font-size: 12px; */
    line-height: 18px;
    color: #ffffff;
}
.header-link:hover, .header-link:focus,.header-link:active {
    opacity: .9;
    color: #00e1ff;
}
.line-menu{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    max-width: 547px;
    max-height: 0px;
    opacity: 0.8;
    border: 1px solid #a5a5a5d8;
}
.pick-line-menu{
    display: none;
}
.pick-line-menu-active{
    display: block;
    position: absolute;
    margin-left: 1px;
    display: block;
    width: 122px;
    border: 2px solid #FFFFFF;
}
.search-button{
    display: none;
    width: 20px;
    height: 20px;
    margin: 0 20px 0 auto;
}
.search-form-adaptive{
    display: none;
}
.header-burger{
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
}
.burger-line{
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
}
.burger-line-first{
    top:0;
}
.burger-line-second{
    top:50%;
    transform: translateY(-50%);
}
.burger-line-third{
    bottom: 0;
}
/* Header Styles End */

/* Intro-page Styles Start*/
/* Left Block Start*/
.wrapper-scroll-nav{
    display: block;
    max-width: 80px;
    margin: 0 auto;
}
.scroll-pic{
    margin: 900px 5px 0;
}
.circle-sroll {
    margin: 0 1px;
    fill: #BBBBBB;
    fill-opacity: 0.1;
} 
.wrapper-adaptive-intro-nav{
    display: none;
}
/* Left Block End*/
/* Right Block Start*/
.intro-wrapper{
    display: grid;
    grid-template-columns: minmax(1090px, auto) minmax(588px, 830px);
    column-gap: 0px;
    min-height: 100vh;
}
.intro-left-block{
    background: url(../img/intro-pic.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.intro-right-block{
    background-color: #070C16;
}
.wrapper-intro-content{
    display: block;
    max-width: 560px;
    margin: 0 auto;
    padding: 0 20px; 
}
.intro-title{
    min-height: 210px;
    margin: 280px 10px 50px;
    font-weight: bold;
    font-size: 53px;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
}
.txt-rotate{
    color: #00e1ff;
}
.intro-button {
    margin: 0 145px;
    padding: 12px 54px;
    border-radius: 5px;
    background: none;
    border: 2px solid #00e1ff;
    box-shadow: 0px 0px 6px #00b2ca56;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
    color: #00e1ff;
}
.intro-button:hover, .intro-button:focus, .intro-button:active{
    background: #00e1ff;
    color: #070C16;
}
/* Right Block End*/
/* Intro-page Styles End*/

/* Main-page Styles Start*/
/* Assets Styles Start*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: calc(50% - 38px);
}
.lds-ellipsis-none {
    display: none;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #070C16;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.wrapper-content-mask {
    position: relative;
}
.content-mask{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.904);
}
.content-mask-visable {
    display: block;
}
.wrapper-assets-items{
    display: block;
    max-width: 1020px;
    height: 100vh;
    margin: 0 auto;
    padding: 0px 20px;
}
.remove-item-popup {
    display: none;
    margin: auto;
    margin-top: calc(50vh - 150px);
    max-width: 400px;
    height: 150px;
    background-color: #CECECE;
    border-radius: 3px;
}
.remove-item-popup-visable {
    display: block;
}
.wrapper-remove-item{
    text-align: center;
    padding: 0px 40px;
}
.remove-item-title{
    padding: 15px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color:#303030;
}
.remove-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 30px;
}
.wrapper-remove-item-nav{
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.success-remove, .cancel-remove {
    padding: 3px;
    width: 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border: 0px;
    border-radius: 2px;
    color: #181818;
}
.success-remove:hover, .cancel-remove:hover {
    color: #00e1ff;
    background-color: #070C16;
}
.success-remove:active, .cancel-remove:active {
    color: #00e1ff;
}
.blog-input-form {
    display: none;
    margin: auto;
    margin-top: calc(50vh - 425px);
    max-width: 550px;
    height: 700px;
    background-color:white;
    border-radius: 3px;
}
.blog-input-form-visable {
    display: block;
}
.input-form-title {
    padding-top: 15px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
.wrapper-input-form {
    padding: 5px 20px;
}
.blog-input-form form{
    /* background-color: #000000;
    height: 700px; */
}
.wrapper-input-file {
    padding: 0px 50px;
}
.blog-file-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid #dddddd;
    margin-bottom: 15px;
}
.file-upload-btn {
    width: 100%;
    margin: 0;
    color:white;
    background: #070C16;
    border: none;
    padding: 5px;
    border-radius: 4px;
    border-bottom: 4px solid #070C16;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-size: 14px;
}
.file-upload-btn:hover {
    background: #070C16;
    border-bottom: 4px solid #00e1ff;
    color: #00e1ff;
    transition: all .2s ease;
    cursor: pointer;
}
/* .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
} */
.file-upload-content {
    display: none;
    text-align: center;
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.image-upload-wrap {
    border: 4px dashed #070C16;
    position: relative;
    height: 200px;
    margin-bottom: 10px;
}
.image-upload-wrap-invalid {
    border: 4px dashed #ad00003f;
    transition: all .2s ease;
}
.image-dropping,.image-upload-wrap:hover {
    background-color: #070C16;
    border: 4px dashed #00e1ff;
    color: #00e1ff;
    transition: all .2s ease;
}
.image-title-wrap {
    padding: 0 0px 10px 0px;
    color: #222;
}
.drag-block {
    text-align: center;
}
.drag-block h3 {
    font-weight: 800;
    color: #181818;
    padding: 90px 0;
}
.image-input-title {
    margin-top: 90px;
    text-align: center;
}
.file-upload-image {
    height: 200px;
    max-height: 210px;
    max-width: 400px;
    padding: 0px;
    margin-bottom: 10px;
}
.image-input-title-mobile{
    display: none;
    margin-top: 90px;
    text-align: center;
}
.remove-image {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #070C16;
    border: none;
    padding: 5px;
    border-radius: 4px;
    border-bottom: 4px solid #070C16;
    transition: all .2s ease;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    font-family: Montserrat;
}
.remove-image:hover {
    background: #070C16;
    border-bottom: 4px solid #00e1ff;
    color: #00e1ff;
    transition: all .2s ease;
    cursor: pointer;
}
.line-blog {
    width: 100%;
    height: 0px;
    border: 1px solid #070c1646;
    margin-bottom: 15px;
}
.blog-title-input {
    width: 100%;
    font-size: 15px;
    padding: 2px 10px;
    font-family: Montserrat;
    font-style: normal;
    line-height: 25px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 2px;
    background-color: #dddddd;
}
.blog-title-input-invalid {
    background-color: #ad00003f;
    transition: all .2s ease;
}
.blog-body-article {
    width: 100%;
    height: 295px;
    max-height: 325px;
    resize: none;
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    line-height: 18px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 2px;
    background-color: #dddddd;
}
.blog-body-article-invalid {
    background-color:  #ad00003f;
    transition: all .2s ease;
}
.wrapper-blog-post-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.blog-back-button, .blog-post-button {
    padding: 5px;
    width: 100px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    border: 0px;
    border-radius: 4px;
    color: white;
    background-color: #070C16;
    border-bottom: 4px solid #070C16;
    transition: all .2s ease;
    outline: none;
    
}
.blog-back-button:hover, .blog-post-button:hover {
    background: #070C16;
    border-bottom: 4px solid #00e1ff;
    color: #00e1ff;
    transition: all .2s ease;
}
/* input:invalid { 
    background-color: #070c1641;
}
textarea:invalid { 
    background-color:#070c1641;
} */
/*
.blog-input-form form button{
    margin: 0;
    color: #fff;
    background: #16a085;
    border: none;
    width: 508px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
}
.blog-input-form form button:hover{
    background: #149174;
      color: #0C5645;
}
.blog-input-form form button:active{
    border:0;
} */
  
/* Assets Styles End*/

/* Search Filed Styles Start*/
.content-header {
    width: 100vw;
    background-color: #070C16;
    z-index: 1000;
}
.search{
    margin: 80px auto;
    height: 550px;
    width: 100%;
    background: url(../img/search-background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper-content{
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
}
.search-block-filed{
    position: relative;
    max-width: 688px;
    margin: 0 auto;
    padding: 353px 0 0 0;
}
.search-title{
    width: 100%;
    height: 38px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 77px;
    letter-spacing: 0.03em;
    /* display: flex;
    align-items: center; */
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0 auto 30px;
}
.search-filed{
    padding: 0px 15px;
    width: 100%;
    height: 41px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #4d4d4d;
}
.search-filed::placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #9c9c9c;
}
.search-results-filed{
    display: none;
    border-top: 0.5px solid #d6d6d6;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: absolute;
    width: 100%;
    max-height: 541px;
    background-color: white;
    z-index: 10;
}
.search-results-filed-active{
    display: block;
}
.wrapper-nav-search{
    padding: 5px 0px 5px 15px; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.search-result-title{
    letter-spacing: 0.2px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 11px;
    color: #9c9c9c;
}
.close-search-result{
    margin-right: 5px;
    max-width: 30px;
    max-height: 30px;
}
.wrapper-search-results{
    max-height: 360px;
    overflow-y: auto;
}
/* .wrapper-search-results::-webkit-scrollbar-track{} */
.search-list-item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90px;
    border-top: 0.5px solid #d6d6d6;
}
.search-list-item:first-child{
    border: 0px;
}
.example-search-card-result{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    max-width: 90%;
    padding: 5px 0px 5px 15px;
}
.example-search-card-img{
    margin-right: 15px;
    max-width: auto;
    height: 100%;
}
.example-search-card-info {
    max-width: 370px;
    overflow: hidden;
}
.example-search-card-title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #303030;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.example-search-card-brand{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #727272;
}
.wrapper-search-item-nav{
    margin-right: 40px;
}
.add-search-card,.add-done-search-card{
    max-width: 23px;
    max-height: 23px;
}
.add-done-search-card{
    display: none;
}
.add-search-visable-none{
    display: none;
}
.add-done-visable{
    display: block;
}
.add-search-card:hover, .add-done-search-card:hover{
    opacity: 0.7;
}
.search-no-results{
    height: 50px;
    border-top: 0.5px solid #d6d6d6;
    text-align: center;
}
.search-no-results-title {
    margin: 15px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color:#5f5f5f;
}
/* Search Filed Styles End*/

/* Wishlist Styles Start*/
.wishlist-section{
    margin-top: 70px;
    max-width: 1020px;
    min-height: 150px;
    margin-bottom: 60px;
}
.wrapper-content-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 45px;
}
.section-title{
    max-width: 134px;
    height: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000000;
}
.see-more-link{
    /* display: none; */
    width: 85px;
    height: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000000;
    cursor: pointer;
    /* border-bottom: 2px solid #000000; */
}
/* .see-more-link-visable {
    display: block;
} */
.see-more-link:hover {
    color: #00b6ce;
    border-bottom: 2px solid #00b6ce;
    transition: all .2s ease;
}
.line-see-more{
    width: 100%;
    height: 0px;
    border: 1px solid #000000;
}
.wrapper-product-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 35px;
    transition: max-height ease 1.5s;
    padding: 0px 4px 4px;
    max-height: 255px;
    overflow-y: hidden;
}
.see-more-link-active {
    max-height: 2000px;
}
.example-product-card{
    grid-column: span 1;
    height: 250px;
    background-color: #ebebeb;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.product-image{
    padding: 7px 7px 5px 7px;
}
.wrapper-product-title {
    max-width: 230px;
    overflow: hidden;
    /* margin-bottom: 15px; */
}
.product-title{
    padding: 0px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #303030;
    text-align: center;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.wrapper-product-panel {
    position: absolute;
    max-width: 230px;
    max-height: 30px;
    bottom:0;
}
.product-panel{
    width: 230px;
    padding: 0px 10px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.product-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    font-size: 18px;
    color: #303030;
    text-align: center;
}
.product-button{
    max-width: 20px;
    max-height: 20px;
}
.product-button:hover {
    opacity: 0.7;
    cursor: pointer;
}
.info-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #9e9e9e;
    text-align: center;
    margin-bottom: 35px;
}
.end-section-line{
    border: 1px solid #CECECE;
}
/* Wishlist Styles End*/

/* Done Styles Start*/
.done-section{
    max-width: 1020px;
    min-height: 150px;
    margin-bottom: 60px;
}
/* Done Styles End*/

/* Blog Styles Start*/
.blog-section{
    max-width: 1020px;
    min-height: 150px;
    margin-bottom: 60px;
}
.wrapper-blog-cards{
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 35px;
    transition: max-height ease 1.5s;
    max-height: 550px;
    overflow-y: hidden;
}
.see-more-link-blog-active {
    max-height: 4000px;
}
/* If the count block is n%2=0*/
.example-blog-card{
    grid-column: span 2;
    height: 550px;
    background-color: #ebebeb; 
}
/* If the count block is n%2=1*/
/* .example-blog-card:nth-child(3n){
    grid-column-start: 2;
    grid-column-end: 4;
} */
.blog-image{
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
    height: 320px;
}
.image-link:hover .image-post-blog {
    transform: scale(1.05)
}
.image-post-blog{
    /* top: -50%; */
    position: absolute;
    min-height: 350px;
    object-fit: cover;
    transition: ease 0.2s;
}
.blog-post-panel{
    padding: 10px 15px;
    position: relative;
    height: 225px;
}
.blog-post-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #303030;
    text-align: center;
    margin-bottom: 15px;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blog-article-short{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    color: #303030;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blog-read-more-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.blog-read-more-link:hover { 
    color: #00b6ce;
    /* border-bottom: 4px solid #00e1ff; */
    transition: all .2s ease;
}
.wrapper-blog-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;   
}
.post-button-body{
    padding: 8px 20px;
    background: #FFFFFF;
    border: 2px solid#303030;
    border-radius: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #303030;
    cursor: pointer;
}
.post-button-body:hover, .post-button-body:focus, .post-button-body:active {
    background-color: #303030;
    color: #FFFFFF;
}
/* Blog Styles End*/

/* Footer Styles Start*/
.content-footer{
    position: relative;
    background-color: #070C16;
    z-index: 1000;
}
.footer-wrapper-menu{
    max-width: 1678px;
    margin: 0 auto;
    padding: 15px 20px;
}
/* Footer Styles End*/
/* Main-page Styles End*/


/* Media Styles Start*/
@media screen and (max-width: 1680px){
    .intro-wrapper{
        grid-template-columns: minmax(auto, auto) 588px;
    }
    .scroll-pic{
        display: none;
    }
    .intro-title{
        font-size: 45px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 30px;
    }
    .intro-button{
        margin: 0px 170px;
        padding: 10px 40px;
        font-size: 20px;
    }
    .circle-sroll{ 
        width: 15px;
        height: 15px;
    }
    .blog-input-form {
        margin-top: calc(50vh - 415px);
    }
}
@media screen and (max-width: 1400px){
    .intro-title{
        margin-top: 220px;
        font-size: 40px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .blog-body-article {
        height: 190px;
    }
    .blog-input-form {
        height: 595px;
        margin-top: calc(50vh - 360px);
    }
}

@media screen and (max-width: 1024px){
    .intro-button-for-mobile{
        display: none;
    }
    .intro-header{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.378947) 77.08%, rgba(0, 0, 0, 0) 100%), none;
    }
    .wrapper-adaptive-intro-nav{
        display: block;    
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .intro-title{
        min-height: 240px;
        margin-top: 400px;
        font-size: 60px;
        line-height: 80px;
        padding: 0px 20px;
        text-shadow: 0px 0px 20px #000000, 0px 10px 20px #000000, 0px 10px 30px #000000, 0px 0px 15px #000000;
    }
    .intro-button{
        margin: 0px 274px;
        border: 4px solid #00e1ff;
        font-size: 26px;
    }
    .intro-wrapper{
        grid-template-columns: minmax(auto, auto);
    }
    .intro-right-block{
        display: none;
    }
    .wrapper-content{
        max-width: 770px;
    }
    .wrapper-product-cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .wrapper-blog-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .example-blog-card:nth-child(1n){
        grid-column: span 1;
    }
    .blog-article-short{
        margin-bottom: 60px;
    }
    .done-section, .wishlist-section, .blog-section{
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .search{
        margin-bottom: 40px;
    }
    .blog-body-article {
        height: 295px;
    }
    .blog-input-form {
        height: 700px;
        margin-top: calc(50vh - 470px);
    }
}

@media screen and (max-width: 850px) {
    .wrapper-adaptive-intro-nav{
        max-width: 650px;
    }
    .intro-title{
        min-height: 180px;
        margin-top: 300px;
        font-size: 45px;
        line-height: 60px;
    }
    .intro-button{
        padding: 8px 38px;
        margin: 0px 218px;
        border: 4px solid #00e1ff;
        font-size: 19px;
    }
    .header-wrapper-menu{
        margin: 20px auto;
    }
    .header{
        height: 60px;
    }
    .header-burger, .search-button{
        display: block;
    }
    .header-nav{
        width: 100%;
        height: 100%;
        padding: 75px;
        position: fixed;  
        top:0;
        left:0;
        z-index: 30;
        background-color: #070C16;
        transform: translateX(100%);
        transition: .3s;
    }
    .header-nav-active{
        transform: translateX(0);
    }
    .header-item{
        width: 100%;
        margin: 0 0 50px 0;
    }
    .header-item:first-child{
        margin-top: 80px;
    }
    .header-item:last-child{
        margin-bottom: 0px;
    }
    .header-link{
        font-size: 25px;
        line-height: 25px;
    }
    .line-menu{
        display: none;
    }
    .header-burger-close{
        width: 35px;
        height: 35px;
        position: absolute;
        top:15px;
        right: 15px;
        z-index: 11;
    }
    .header-burger-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top:50%;
    }
    .header-burger-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header-burger-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .search{
        margin-top: 60px;
    }
    .search-form{
        display: none; 
    }
    .search-form-adaptive-active{
        display: block;
    }
    .search-block-filed{
        padding: 0px 20px;
    }
    .search-filed-adaptive{
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.486);
        width: 100%;
        left: 0;
        border: 0;
        position: fixed;
        padding: 0px 20px;
        height: 35px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #4d4d4d; 
    }
    .search-filed-adaptive::placeholder{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #9c9c9c;
    }
    .search-results-filed{
        position: fixed;
        left: 0px;
        top: 95px;
        max-height: 360px;
        box-shadow: 0px 30px 55px rgba(0, 0, 0, 0.486);
    }
    .wrapper-search-results{
        max-height: 320px;
    }
    .search-list-item{
        height: 80px;
    }
    .search-title{
        margin: 0;
        padding: 350px 0 0;
        font-size: 40px;
        font-weight: bold;
    }
    .blog-input-form {
        margin-top: calc(50vh - 440px);
    }
}
@media screen and (max-width: 770px) {
    .wrapper-adaptive-intro-nav{
        max-width: 550px;
    }
    .intro-title{
        margin-top: 340px;
        font-size: 41px;
        line-height: 60px;
        padding: 0px 0px;   
    }
    .intro-button{
        padding: 8px 38px;
        margin: 0px 168px;
        border: 4px solid #00e1ff;
        font-size: 19px;
    }
    .wrapper-content{
        max-width: 520px;
    }
    .wrapper-product-cards{
        grid-template-columns: repeat(2, 230px);
    }
    .wrapper-blog-cards{
        grid-template-columns: repeat(1, 480px);
    }
    .example-blog-card:nth-child(1n){
        grid-column: span 1;
    }
    .blog-article-short{
        margin-bottom: 50px;
    }
    .footer-list{
        display: block;
    }
    .footer-item{
        margin: 0 0 10px 0;
    }
    .footer-item:last-child{
        margin: 0;
    }
    .footer-link{
        font-size: 15px;
    }
    .footer-logo-link{
        display: block;
        padding: 28px 0;
    }
    .search-title{
        padding: 350px 0px 0;
        font-size: 33px;
        font-weight: bold;
        line-height: 50px;
    }
    .header-logo-link, .footer-logo-link{
        font-size: 27px;
    }
    .image-input-title {
        display: none;
    }
    .image-input-title-mobile {
        display: block;
    }
    .blog-body-article {
        height: 130px;
    }
    .blog-input-form {
        height: 535px;
        margin-top: calc(50vh - 340px);
    }
}
@media screen and (max-width: 555px) {
    .wrapper-adaptive-intro-nav{
        max-width: 400px;
        padding: 0px 20px;
    }
    .intro-title{
        max-width: 300px;
        min-height: 150px;
        margin-top: 210px;
        font-size: 32px;
        line-height: 45px;
        padding: 0px 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        text-shadow: 0 3px 30px #000, 0 3px 20px #000, 0 3px 20px #000, 0 3px 20px #000;
    }
    .intro-button{
        display: none;
        margin: 0px auto;
        padding: 7px 20px;
        font-size: 18px;
        border: 3px solid #00e1ff;
        border-radius: 3px;
    }
    .intro-button-for-mobile{
        display: block;
    }
    .wrapper-content{
        width: auto;
    }
    .remove-item-popup {
        max-width: 300px;
        max-height: 150px;
    }
    .remove-item-title, .remove-item-text, .success-remove, .cancel-remove {
        font-size: 13px;
    }
    .success-remove, .cancel-remove {
        padding: 5px 0px;
    }
    .remove-item-text {
        margin-bottom: 15px;
    }
    .remove-item-title{
        padding: 15px 0px;
    }
    .wrapper-remove-item-nav {
        padding: 0 10px;
    }
    .wrapper-remove-item {
        padding: 0px 35px;
    }
    .wrapper-product-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .example-product-card{
        height: auto;
    }
    .product-title{
        font-size: 12.5px;
        padding: 3px;
    }
    .product-image{
        padding: 5px;
    }
    .product-price{
        font-size: 15.5px;
    }
    .product-svg svg{
        width: 22px;
        height: 22px;
    }
    .wrapper-blog-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .example-blog-card{
        height: auto;
    }
    .blog-post-title{
        font-size: 15.5px;
    }
    .blog-article-short{
        font-size: 13px;
    }
    .section-title{
        font-size: 20px;
    }
    .see-more-link{
        font-size: 13px;
    }
    .search{
        margin-top: 50px;
        background-position: 60%;
        margin-bottom: 30px;
    }
    .header-wrapper-menu{
        margin: 15px auto;
    }
    .header{
        height: 50px;
    }
    .search-title{
        margin: 0;
        padding: 340px 0px 0;
        font-size: 34px;
    }
    .search-filed-adaptive::placeholder{
        font-size: 14px;
    }
    .footer-logo-link{
        padding: 22px 0;
    }
    .footer-link{
        font-size: 13px;
        font-weight: 600;
    }
    .footer-item{
        width: 100%;
        margin: 0 0 4px 0;
    }
    .post-button-body {
        font-size: 13px;
        padding: 5px 10px;
    }
    .header-logo-link, .footer-logo-link{
        font-size: 25px;
    }
    .example-search-card-info {
        -webkit-line-clamp: 2;
    }
    .example-search-card-title{
        font-size: 12px;
        padding-right: 25px;
    }
    .wrapper-search-item-nav, .close-search-result{
        margin-right: 10px;
    }
    .close-search-result-svg, .close-search-result{
        width: 23px;
        height: 23px;
    }
    .example-search-card-img{
        max-height: 80%;
        margin-right: 15px;
    }
    .search-results-filed{
        top: 85px;
    }
    .search-filed-adaptive{
        font-size: 14px;
    }
    .wrapper-input-file {
        padding: 0px;
    }
    .blog-body-article {
        height: 195px;
    }
    .blog-input-form {
        height: 600px;
        margin-top: calc(50vh - 325px);
    }
    .wrapper-assets-items {
        padding: 0 10px;
    }
    .wrapper-input-form{
        padding: 5px 10px;
    }
    .content-footer{
        z-index: 0;
    }
}
@media screen and (max-width: 350px) {
    .intro-title{
        min-height: 100px;
        margin-top: 140px;
        font-size: 28px;
        line-height: 40px;
    }
    .header-wrapper-menu{
        margin: 10px auto;
    }
    .header{
        height: 40px;
    }
    .product-title{
        font-size: 11px;
        padding: 4px;
    }
    .product-price{
        font-size: 13px;
    }
    svg{
        width: 21px;
        height: 21px;
    }
    .product-image{
        padding: 4px;
    }
    .product-panel{
        padding: 5px;
    }
    .product-title{
        margin: 0;
    }
    .blog-post-title{
        font-size: 14px;
    }
    .blog-article-short{
        font-size: 12px;
    }
    .search{
        margin-top: 40px;
    }
    .search-title{
        padding: 300px 0 0;
        font-size: 30px;
    }
    .search-results-filed{
        top: 75px;
    }
    .example-search-card-title{
        font-size: 11px;
        padding-right: 15px;
    }
    .example-search-card-brand{
        font-size: 12px;
    }
    .search-result-title{
        font-size: 10px;
    }
    .blog-body-article {
        height: 145px;
    }
    .image-upload-wrap {
        height: 150px;
    }
    .image-input-title-mobile {
        margin-top: 70px;
    }
    .blog-input-form {
        height: 500px;
        margin-top: calc(50vh - 270px);
    }
}
/* Media Styles End*/