/* Common Styles Start */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    color: #303030;
    background-color: #ffffff;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
/* Common Styles End */

/* Header Styles Start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 90px;
}
.header-wrapper, .footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.header-logo-link, .footer-logo-link{
    display: flex;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.header-wrapper-menu{
    max-width: 1678px;
    margin: 35px auto;
    padding: 0 20px;
}
.header-list, .footer-list{
    display: flex;
    flex-wrap: wrap;
}
.header-item, .footer-item{ 
    width: 122px;
    text-align: center;
    margin-right: 20px;
}
.header-item:last-child, .footer-item:last-child{ 
    margin-right: 0px;
}
.header-link, .footer-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    /* font-size: 12px; */
    line-height: 18px;
    color: #ffffff;
}
.header-link:hover, .header-link:focus,.header-link:active {
    opacity: .9;
    color: #00B2CA;
}
.line-menu{
    margin-top: 15px;
    margin-left: auto;
    max-width: 547px;
    max-height: 0px;
    opacity: 0.5;
    border: 1px solid #A1A1A1;
}
.pick-line-menu{ 
    max-width: 122px;
    border: 2px solid #FFFFFF;
}
.search-button{
    display: none;
    width: 20px;
    height: 20px;
    margin: 0 20px 0 auto;
}
.search-form-adaptive{
    display: none;
}
.header-burger{
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
}
.burger-line{
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
}
.burger-line-first{
    top:0;
}
.burger-line-second{
    top:50%;
    transform: translateY(-50%);
}
.burger-line-third{
    bottom: 0;
}

/* Header Styles End */

/* Intro-page Styles Start*/
/* Right Block Start*/
.right-block {
    float: left;
    min-height: 100vh;
    width: 41%;
    background-color: #070C16;
}
.intro-title{
    margin-top: 330px;
    margin-left: 133px;
    width: 515px;
    height: 185px;
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 60px;
}
.intro-button {
    margin-left: 277px;
    padding: 11px 54px;
    border-radius: 5px;
    background: none;
    border: 2px solid #00B2CA;
    box-shadow: 0px 0px 6px #00B2CA;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #00B2CA;
}
.intro-button:hover, .intro-button:focus, .intro-button:active{
    background: #00B2CA;
    color: #070C16;
}
/* Right Block End*/

/* Left Block Start*/
.left-block{
    float: left;
    min-height: 100vh;
    width: 59%;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 41.48%), url('../img/intro-pic.jpg') no-repeat;
}
.scroll-pic{
    width: 70px;
    margin-top: 900px;
    margin-left: 535px;
}
.circle-sroll {
    fill: #BBBBBB;
    fill-opacity: 0.2;
}
/* Left Block End*/
/* Intro-page Styles End*/

/* Main-page Styles Start*/
/* Search Filed Styles Start*/
.content-header {
    width: 100vw;
    background-color: #070C16;
}
.search{
    margin: 90px auto;
    height: 550px;
    width: 100%;
    background: url(../img/search-background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper-content{
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
}
.search-block-filed{
    max-width: 688px;
    margin: 0 auto;
    padding: 353px 0 0 0;
}
.search-title{
    width: 100%;
    height: 38px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 77px;
    letter-spacing: 0.03em;
    /* display: flex;
    align-items: center; */
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0 auto 30px;
}
.search-filed{
    padding: 0px 15px;
    width: 100%;
    height: 41px;
    border: 0.2px solid #646464;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #4d4d4d;
}
.search-filed::placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #9c9c9c;
}
/* Search Filed Styles End*/

/* Wishlist Styles Start*/
.wishlist-section{
    margin-top: 70px;
    max-width: 1020px;
    min-height: 150px;
    margin-bottom: 60px;
}
.wrapper-content-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 45px;
}
.section-title{
    max-width: 134px;
    height: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000000;
}
.see-more-link{
    width: 85px;
    height: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000000;
}
.line-see-more{
    width: 100%;
    height: 0px;
    border: 1px solid #000000;
}
.wrapper-product-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 35px;
}
.example-product-card{
    grid-column: span 1;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    /* position: relative; */
}
.product-image{
    padding: 7px 7px 5px 7px;
}
.product-title{
    padding: 0px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #303030;
    text-align: center;
    margin-bottom: 15px;
}
.product-panel{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    padding: 0px 10px 10px 10px
}
.product-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    font-size: 18px;
    color: #303030;
    text-align: center;
}
.product-button{
    max-width: 20px;
    max-height: 20px;
}
.info-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #9e9e9e;
    text-align: center;
    margin-bottom: 35px;
}
.end-section-line{
    border: 1px solid #CECECE;
}
/* Wishlist Styles End*/

/* Done Styles Start*/
.done-section{
    max-width: 1020px;
    min-height: 150px;
    margin-bottom: 60px;
}
/* Done Styles End*/

/* Blog Styles Start*/
.blog-section{
    max-width: 1020px;
    min-height: 150px;
    margin-bottom: 60px;
}
.wrapper-blog-cards{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 35px;
}
/* If the count block is n%2=0*/
.example-blog-card{
    grid-column: span 2;
    height: 450px;
    background-color: #ebebeb; 
}
/* If the count block is n%2=1*/
.example-blog-card:nth-child(3n){
    grid-column-start: 2;
    grid-column-end: 4;
}
.blog-image{
    margin-bottom: 5px;
}
.blog-post-panel{
    padding: 10px 15px;
}
.blog-post-title{
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #303030;
    text-align: center;
    margin-bottom: 15px;
}
.blog-article-short{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    color: #303030;
    margin-bottom: 50px;
}
.blog-read-more-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #303030;
}
.wrapper-blog-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.post-button-body{
    padding: 8px 20px;
    background: #FFFFFF;
    border: 2px solid#303030;
    border-radius: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #303030;
}
.post-button-body:hover, .post-button-body:focus, .post-button-body:active {
    background-color: #303030;
    color: #FFFFFF;
}
/* Blog Styles End*/

/* Footer Styles Start*/
.content-footer{
    background-color: #070C16;
}
.footer-wrapper-menu{
    max-width: 1678px;
    margin: 0 auto;
    padding: 15px 20px;
}
/* Footer Styles End*/
/* Main-page Styles End*/

/* Media Styles Start*/
@media screen and (max-width: 1024px){
    .wrapper-content{
        max-width: 770px;
    }
    .wrapper-product-cards{
        grid-template-columns: repeat(3, 230px);
    }
    .wrapper-blog-cards{
        grid-template-columns: repeat(2, 355px);
    }
    .example-blog-card:nth-child(1n){
        grid-column: span 1;
    }
    .blog-article-short{
        margin-bottom: 60px;
    }
    .done-section, .wishlist-section, .blog-section{
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .search{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 850px) {
    .header-burger, .search-button{
        display: block;
    }
    .header-nav{
        width: 100%;
        height: 100%;
        padding: 75px;
        position: fixed;  
        top:0;
        left:0;
        z-index: 30;
        background-color: #070C16;
        transform: translateX(100%);
        transition: .3s;
    }
    .header-nav-active{
        transform: translateX(0);
    }
    .header-item{
        width: 100%;
        margin: 0 0 50px 0;
    }
    .header-item:first-child{
        margin-top: 150px;
    }
    .header-item:last-child{
        margin-bottom: 0px;
    }
    .header-link{
        font-size: 40px;
        line-height: 50px;
    }
    .line-menu{
        display: none;
    }
    .header-burger-close{
        width: 45px;
        height: 45px;
        position: absolute;
        top:15px;
        right: 15px;
        z-index: 11;
    }
    .header-burger-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top:50%;
    }
    .header-burger-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header-burger-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .search-form{
        display: none; 
    }
    .search-form-adaptive-active{
        display: block;
    }
    .search-block-filed{
        padding: 0px 20px;
    }
    .search-filed-adaptive{
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.212);
        width: 100%;
        left: 0;
        border: 0;
        position: fixed;
        padding: 0px 20px;
        height: 35px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #4d4d4d; 
    }
    .search-filed-adaptive::placeholder{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #9c9c9c;
    }
    .search-title{
        margin: 0;
        padding: 350px 0 0;
        font-size: 40px;
        font-weight: bold;
    }
}
@media screen and (max-width: 770px) {
    .wrapper-content{
        max-width: 520px;
    }
    .wrapper-product-cards{
        grid-template-columns: repeat(2, 230px);
    }
    .wrapper-blog-cards{
        grid-template-columns: repeat(1, 480px);
    }
    .example-blog-card:nth-child(1n){
        grid-column: span 1;
    }
    .blog-article-short{
        margin-bottom: 50px;
    }
    .footer-list{
        display: block;
    }
    .footer-item{
        margin: 0 0 10px 0;
    }
    .footer-item:last-child{
        margin: 0;
    }
    .footer-link{
        font-size: 15px;
    }
    .footer-logo-link{
        display: block;
        padding: 28px 0;
    }
    .search-title{
        padding: 350px 0px 0;
        font-size: 33px;
        font-weight: bold;
    }
}
@media screen and (max-width: 525px) {
    .wrapper-content{
        width: auto;
    }
    .wrapper-product-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .example-product-card{
        height: auto;
    }
    .product-title{
        font-size: 12.5px;
        padding: 3px;
    }
    .product-image{
        padding: 5px;
    }
    .product-price{
        font-size: 15.5px;
    }
    .product-svg svg{
        width: 22px;
        height: 22px;
    }
    .section-title{
        font-size: 20px;
    }
    .see-more-link{
        font-size: 13px;
    }
    .search{
        margin-top: 50px;
        background-position: 60%;
        margin-bottom: 30px;
    }
    .header-wrapper-menu{
        margin: 15px auto;
    }
    .header{
        height: 50px;
    }
    .search-title{
        margin: 0;
        padding: 340px 0px 0;
        font-size: 34px;
    }
    .footer-logo-link{
        padding: 22px 0;
    }
    .footer-link{
        font-size: 13px;
        font-weight: 600;
    }
    .footer-item{
        width: 100%;
        margin: 0 0 4px 0;
    }
    .post-button-body {
        font-size: 13px;
        padding: 5px 10px;
    }
}
@media screen and (max-width: 350px) {
    .product-title{
        font-size: 11px;
        padding: 4px;
    }
    .product-price{
        font-size: 13px;
    }
    svg{
        width: 20px;
        height: 20px;
    }
    .product-image{
        padding: 4px;
    }
    .product-panel{
        padding: 5px;
    }
    .product-title{
        margin: 0;
    }
    .search-title{
        padding: 300px 0 0;
        font-size: 30px;
    }
}
/* Media Styles End*/